# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
.env
.env.*

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# MLflow
# ==========================
mlruns/
mlflow.db

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Pytest
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Build / Distribution
# ==========================
build/
dist/
*.egg-info/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Temporary Files
# ==========================
*.tmp
*.temp
# ==========================
# Data files
# ==========================
data/raw/
data/processed/
